<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.sample.project.free.help</string>
	<key>CFBundleName</key>
	<string>New Project</string>
	<key>HPDBookAccessPath</key>
	<string>index_hpd.html</string>
	<key>HPDBookIndexPath</key>
	<string>New Project.helpindex</string>
	<key>HPDBookCSIndexPath</key>
	<string>New Project.cshelpindex</string>
	<key>HPDBookTitle</key>
	<string>New Project Help</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-us</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.1</string>
	<key>CFBundleVersion</key>
	<string>3.1.1</string>
	<key>HPDBookIconPath</key>
	<string>SharedGlobalAssets/convention/icon_32x32@2x.png</string>
	<key>HPDBookKBProduct</key>
	<string></string>
	<key>HPDBookKBURL</key>
	<string>http://www.sample.com</string>
	<key>HPDBookRemoteURL</key>
	<string>dummy_enables_share</string>
	<key>HPDBookTopicListCSSPath</key>
	<string></string>
	<key>HPDBookTopicListTemplatePath</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
